REDIS_HOST=redis_host
REDIS_PORT=6379
REDIS_PASSWORD=

EVOLUTION_API_KEY=evo_key
EVOLUTION_SERVER_URL=evo_url


postgres_username=postgres_user
postgres_db=postgres_db
postgres_host=postgres_url
postgres_port=5432
postgres_password=postgres_password

WHATSAPP_API_TOKEN=whatsapp_token

REACT_APP_URL=http://localhost:3002
OPENAI_API_KEY=openai_token
OPENAI_ASSISTANT_ID=openai_asst_id
JWT_SECRET=jwt_secret
REACT_APP_RECAPTCHA_SITE_KEY=react_rechaptcha

GOOGLE_CLIENT_ID=google_id
GOOGLE_CLIENT_SECRET=google_secret

BACKEND_URL=http://localhost:3002

COOKIE_DOMAIN=cookie_domain